/*
Colors:
dark = #332e22
light = #f4f4cb
highlight = #ed4561
*/

.ui-overlay-container {
    padding: 10px;
    border-radius: 10px;
    background-color: #f4f4cb;
    color: #332e22;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
    max-height: 60%;
    max-width: 40%;

    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99999;

    display: flex;
    flex-direction: column;
}

.thrift-list::-webkit-scrollbar {
  background-color: #f4f4cb;
  width: 3px;
  border-radius: 2px;
}

.thrift-list::-webkit-scrollbar-thumb {
  background-color: #332e22;
}

.thrift-list::-webkit-scrollbar-thumb {

}

@media (max-width: 450px) {
  .ui-overlay-container {
    max-height: 37%;
  }
}

.thrift-list {
    overflow-y: scroll;
    margin: 5px 0 5px;
}

.controls-header {
    font-weight: bolder;
}

.link-button {
  margin-top: 5px;
}

.button-59 {
  align-items: center;
  border: 2px solid #332e22;
  box-sizing: border-box;
  background-color: #f4f4cb;
  color: #332e22;
  cursor: pointer;
  display: inline-flex;
  fill: #332e22;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-59:focus {
  color: #332e22;
}

.button-59:hover {
  border-color: #ed4561;
  color: #ed4561;
  fill: #ed4561;
}

.button-59:active {
  border-color: #ed4561;
  color: #ed4561;
  fill: #ed4561;
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}