/*
Colors:
dark = #332e22
light = #f4f4cb
highlight = #ed4561
*/

#auto-center-toggle {
  position: absolute;
  z-index: 9999;
  bottom: 10px;
  right: 10px;
  font-size: 3em;
}

.icon-button {
  background-color: #f4f4cb;
  color: #332e22;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
  cursor: pointer;
  /* transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55); */
  border: none;
}

.icon-button-active {
    background-color: #ed5461;
    color: #f4f4cb;
}